/***********************Reset CSS**********************************/
:root {
    --main-font: sans-serif;
    --font-size: 16px;
    --main-color: #055283;
    --second-color: #222;
    --main-modal-color: rgba(247, 222, 30, 00.85);
    --burger-menu-color: #05CBE8;
    --container-width: 1200px;
}

/*Reseteo al HTML*/
html {
    box-sizing: border-box;
    font-family: var(--main-color);
    font-size: var(--font-size);
    scroll-behavior: smooth;

}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    margin: 0;
    overflow-x: hidden;
}

img {
    max-width: 100%;
    height: auto;
}

/************************menu hamburguesa******************************/
.header {
    position: sticky;
    top: 0;
    padding: 1rem;
    background-color: var(--main-color);
    color: var(--second-color);
}

h1 {
    margin: 0 auto;
    text-align: center;
    color: #FFF;
}

.section {
    padding: 2rem;
    padding-top: 4rem;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: var(--container-width);
    min-height: 100vh;
    text-align: center;
}

.panel {
    position: fixed;
    z-index: 998;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #000;
    opacity: 0;
    transition: transform .3s ease, opacity 0.9s ease;
    /***El menú sale de arriba***/
    transform: translate(0, -100%);

    /***El menú sale de abajo***/
    transform: translate(0, 100%);

    /***El menú sale en la derecha*/
    transform: translate(100%, 0);

    /***El menú sale en la izquierda*/
    transform: translate(-100%, 0);
}

.panel.is-active {
    transform: translate(0, 0);
    opacity: 1;
}

.panel-btn {
    position: fixed;
    z-index: 999;
    bottom: 1vh;
    right: 1vw;
    width: 4rem !important;
    height: 4rem !important;
    border-radius: 50%;
    padding: 0 !important;
    display: flex;
    justify-content: center !important;
    align-items: center !important;
    background-color: var(--burger-menu-color) !important;
    color: #FFF !important;

}

.hamburger-box{
    height: 30px !important;
    color: #FFF !important;
}
.hamburger-inner{
    background-color: #FFF !important;
}
.hamburger-inner:before{
    background-color: #FFF !important;
}
.hamburger-inner:after{
    background-color: #FFF !important;
}

.menu {
    width: inherit;
    display: flex;
    flex-direction: column !important;
    justify-content: space-evenly !important;
    align-items: center !important;
    text-align: center !important;
}

.menu a {
    padding: 2rem;
    width: inherit;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--main-color);
    transition: all 0.3s ease;
}

.menu a:hover {
    font-weight: bold;
    color: var(--second-color);
    background-color: var(--main-modal-color);
}